<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lamini Translator</title>
</head>

<body>
<h1>~Lamini Translator~</h1>

<div>
<form action="#" method="post">
    <p>
    <label>
        Text to be translated:<br>
        <textarea id="source_text" name="source_text" rows="8" cols="100">{{source_text}}</textarea>
        <br><input id="random_text_button" type="button" value="Random" />
    </label>
    </p>
    <p>
    <label>
        Target language:<br>
        <input id="target_language" type="text" name="target_language" value={{target_language}}>
        <input id="random_language_button" type="button" value="Random" />
    </label>
    </p>
    <br>
    <p><input id="translate_button" type="submit" value="Translate" style="height:50px; width:150px"></p>
</form>
</div>

<br>
<div id="result" style="visibility:{{result_visibility}}">
    <p>
    <label>
        Translation:
        <br>
        {{translation}}
    </label>
    </p>

    <p>
    <label>
        Original text language:
        <br>
        {{source_language}}
    </label>
    </p>
</div>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

<br>
<br>
<footer>
  <p>
      Designed by <a href="https://www.linkedin.com/in/yuxin-eugene-xu-90595b118/">Eugene Xu</a>,
      source code <a href="https://github.com/kenken28/lamini_translator">repository</a>;
      Powered by <a href="https://lamini-ai.github.io/">lamini-ai</a>.
  </p>
</footer>
</html>
